.center{
    text-align: center;
}

.list{
    text-align: left;
    background-color: lemonchiffon;
}

.header{
    background-color: aqua;
    margin-left: 200px;
    margin-right: 150px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.text{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.button{
    display: inline-block;
    margin-left: 150px;
    margin-right: 850px;
    border: 2px solid lemonchiffon;
    padding: 0; /* Remove padding */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    background-color: lemonchiffon;
}

